<div class="rounded-md border border-gray-200 bg-white dark:border-gray-800 dark:bg-gray-950">
  <!-- Header -->
  <div class="border-b border-gray-200 px-6 pt-4 dark:border-gray-800">
    <h1 class="text-2xl font-bold dark:text-white">Project permissions</h1>
    <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">Permissions for project Project #1</p>

    <!-- Tabs -->
    <nav class="mt-4 -mb-px flex space-x-2">
      <a
        routerLink="/project-members"
        routerLinkActive="border-b-white dark:border-b-gray-950 text-gray-700 dark:text-gray-200"
        class="rounded-t-lg border border-gray-200 border-b-gray-200 px-4 py-2 text-sm font-medium text-gray-500 hover:text-gray-700 dark:border-gray-800 dark:border-b-gray-800 dark:text-gray-400 dark:hover:text-gray-200"
      >
        Members
      </a>
      <a
        routerLink="/project-permissions"
        routerLinkActive="border-b-white dark:border-b-gray-950 text-gray-700 dark:text-gray-200"
        class="rounded-t-lg border border-gray-200 border-b-gray-200 px-4 py-2 text-sm font-medium text-gray-500 hover:text-gray-700 dark:border-gray-800 dark:border-b-gray-800 dark:text-gray-400 dark:hover:text-gray-200"
      >
        Permissions
      </a>
    </nav>
  </div>

  <div class="p-6">
    <button
      type="button"
      (click)="onAddPermission()"
      class="btn-light mb-5 inline-flex items-center"
    >
      <app-plus-icon class="mr-1.5 h-4 w-4" />
      Add a permission
    </button>

    <div
      class="ring-opacity-5 overflow-hidden rounded-md shadow ring-1 ring-gray-300 dark:ring-gray-700"
    >
      <table class="min-w-full divide-y divide-gray-300 dark:divide-gray-700">
        <thead class="bg-gray-50 dark:bg-gray-800">
          <tr>
            <th
              width="40%"
              scope="col"
              class="px-6 py-3.5 text-left text-sm font-medium tracking-wider text-gray-500 uppercase dark:text-gray-400"
            >
              Name
            </th>
            <th
              width="20%"
              scope="col"
              class="px-6 py-3.5 text-left text-sm font-medium tracking-wider text-gray-500 uppercase dark:text-gray-400"
            >
              Object
            </th>
            <th
              width="25%"
              scope="col"
              class="px-6 py-3.5 text-left text-sm font-medium tracking-wider text-gray-500 uppercase dark:text-gray-400"
            >
              Role
            </th>
            <th
              scope="col"
              class="px-6 py-3.5 text-left text-sm font-medium tracking-wider text-gray-500 uppercase dark:text-gray-400"
            >
              Actions
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white dark:divide-gray-700 dark:bg-gray-950">
          @for (permission of permissions; track permission.name + permission.object) {
            <tr>
              <td class="px-6 py-3 text-sm font-medium whitespace-nowrap dark:text-white">
                {{ permission.name }}
              </td>
              <td class="px-6 py-3 text-sm whitespace-nowrap dark:text-gray-300">
                {{ permission.object }}
              </td>
              <td class="px-6 py-3 whitespace-nowrap">
                <span
                  class="inline-flex items-center rounded-full bg-blue-100 px-2.5 py-1 text-sm font-medium text-blue-800 dark:bg-blue-950 dark:text-blue-200"
                >
                  {{ permission.role }}
                </span>
              </td>
              <td class="px-6 py-3 whitespace-nowrap">
                <button
                  type="button"
                  (click)="onEditPermission(permission, $index)"
                  class="mr-2 inline-flex shrink-0 cursor-pointer items-center rounded-md border border-indigo-300 bg-white px-4 py-2 text-sm font-medium text-indigo-700 shadow-sm ring-indigo-500 hover:bg-indigo-50 focus:ring-2 focus:ring-offset-2 focus:outline-none dark:border-indigo-600 dark:bg-gray-900 dark:text-indigo-300 dark:ring-offset-gray-950 dark:hover:bg-indigo-900 dark:hover:text-white"
                >
                  <app-edit-icon class="mr-1.5 h-4 w-4" /> Edit
                </button>

                <button type="button" class="btn-remove shrink-0">
                  <app-trash-icon class="mr-1.5 h-4 w-4" /> Remove
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Permission Modal -->
<app-permission-modal
  [show]="showModal"
  [isEditMode]="isEditMode"
  [permission]="selectedPermission"
  (closeModal)="closeModal()"
  (save)="onSavePermission($event)"
></app-permission-modal>
