{{- if $.Values.db.enabled }}

{{- $authnSecretName := "db-fun-authn-api" }}
{{- $authnExisting := lookup "v1" "Secret" $.Release.Namespace $authnSecretName }}
{{- $authnPassword := "" }}
{{- if $authnExisting }}
{{- $authnPassword = index $authnExisting.data "password" | b64dec }}
{{- else }}
{{- $authnPassword = randAlphaNum 32 }}
{{- end }}

{{- $operatorSecretName := "db-fun-operator" }}
{{- $operatorExisting := lookup "v1" "Secret" $.Release.Namespace $operatorSecretName }}
{{- $operatorPassword := "" }}
{{- if $operatorExisting }}
{{- $operatorPassword = index $operatorExisting.data "password" | b64dec }}
{{- else }}
{{- $operatorPassword = randAlphaNum 32 }}
{{- end }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $authnSecretName }}
  labels:
    {{- include "fundament.labels" (dict "root" $ "name" "db" "component" "database") | nindent 4 }}
type: kubernetes.io/basic-auth
stringData:
  username: fun_authn_api
  password: {{ $authnPassword | quote }}
  uri: postgresql://fun_authn_api:{{ $authnPassword }}@{{ include "fundament.db.host" . }}:5432/fundament

---
{{- $fundamentApiSecretName := "db-fun-fundament-api" }}
{{- $fundamentApiExisting := lookup "v1" "Secret" $.Release.Namespace $fundamentApiSecretName }}
{{- $fundamentApiPassword := "" }}
{{- if $fundamentApiExisting }}
{{- $fundamentApiPassword = index $fundamentApiExisting.data "password" | b64dec }}
{{- else }}
{{- $fundamentApiPassword = randAlphaNum 32 }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $fundamentApiSecretName }}
  labels:
    {{- include "fundament.labels" (dict "root" $ "name" "db" "component" "database") | nindent 4 }}
type: kubernetes.io/basic-auth
stringData:
  username: fun_fundament_api
  password: {{ $fundamentApiPassword | quote }}
  uri: postgresql://fun_fundament_api:{{ $fundamentApiPassword }}@{{ include "fundament.db.host" . }}:5432/fundament

---
{{- $clusterWorkerSecretName := "db-fun-cluster-worker" }}
{{- $clusterWorkerExisting := lookup "v1" "Secret" $.Release.Namespace $clusterWorkerSecretName }}
{{- $clusterWorkerPassword := "" }}
{{- if $clusterWorkerExisting }}
{{- $clusterWorkerPassword = index $clusterWorkerExisting.data "password" | b64dec }}
{{- else }}
{{- $clusterWorkerPassword = randAlphaNum 32 }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $clusterWorkerSecretName }}
  labels:
    {{- include "fundament.labels" (dict "root" $ "name" "db" "component" "database") | nindent 4 }}
type: kubernetes.io/basic-auth
stringData:
  username: fun_cluster_worker
  password: {{ $clusterWorkerPassword | quote }}
  uri: postgresql://fun_cluster_worker:{{ $clusterWorkerPassword }}@{{ include "fundament.db.host" . }}:5432/fundament

---
{{- $authzWorkerSecretName := "db-fun-authz-worker" }}
{{- $authzWorkerExisting := lookup "v1" "Secret" $.Release.Namespace $authzWorkerSecretName }}
{{- $authzWorkerPassword := "" }}
{{- if $authzWorkerExisting }}
{{- $authzWorkerPassword = index $authzWorkerExisting.data "password" | b64dec }}
{{- else }}
{{- $authzWorkerPassword = randAlphaNum 32 }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $authzWorkerSecretName }}
  labels:
    {{- include "fundament.labels" (dict "root" $ "name" "db" "component" "database") | nindent 4 }}
type: kubernetes.io/basic-auth
stringData:
  username: fun_authz_worker
  password: {{ $authzWorkerPassword | quote }}
  uri: postgresql://fun_authz_worker:{{ $authzWorkerPassword }}@{{ include "fundament.db.host" . }}:5432/fundament

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $operatorSecretName }}
  labels:
    {{- include "fundament.labels" (dict "root" $ "name" "db" "component" "database") | nindent 4 }}
type: kubernetes.io/basic-auth
stringData:
  username: fun_operator
  password: {{ $operatorPassword | quote }}
  uri: postgresql://fun_operator:{{ $operatorPassword }}@{{ include "fundament.db.host" . }}:5432/fundament

{{- end }}
