{{- if $.Values.db.enabled }}
{{- $authnSecretName := printf "%s-db-fun-authn-api" $.Release.Name }}
{{- $authnExisting := lookup "v1" "Secret" $.Release.Namespace $authnSecretName }}
{{- $authnPassword := "" }}
{{- if $authnExisting }}
{{- $authnPassword = index $authnExisting.data "password" | b64dec }}
{{- else }}
{{- $authnPassword = randAlphaNum 32 }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $authnSecretName }}
  labels:
    {{- include "fundament.labels" . | nindent 4 }}
    app.kubernetes.io/component: database
type: kubernetes.io/basic-auth
stringData:
  username: fun_authn_api
  password: {{ $authnPassword | quote }}
  uri: postgresql://fun_authn_api:{{ $authnPassword }}@{{ include "fundament.db.host" . }}:5432/fundament
---
{{- $fundamentApiSecretName := printf "%s-db-fun-fundament-api" $.Release.Name }}
{{- $fundamentApiExisting := lookup "v1" "Secret" $.Release.Namespace $fundamentApiSecretName }}
{{- $fundamentApiPassword := "" }}
{{- if $fundamentApiExisting }}
{{- $fundamentApiPassword = index $fundamentApiExisting.data "password" | b64dec }}
{{- else }}
{{- $fundamentApiPassword = randAlphaNum 32 }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $fundamentApiSecretName }}
  labels:
    {{- include "fundament.labels" . | nindent 4 }}
    app.kubernetes.io/component: database
type: kubernetes.io/basic-auth
stringData:
  username: fun_fundament_api
  password: {{ $fundamentApiPassword | quote }}
  uri: postgresql://fun_fundament_api:{{ $fundamentApiPassword }}@{{ include "fundament.db.host" . }}:5432/fundament
---
{{- $clusterWorkerSecretName := printf "%s-db-fun-cluster-worker" $.Release.Name }}
{{- $clusterWorkerExisting := lookup "v1" "Secret" $.Release.Namespace $clusterWorkerSecretName }}
{{- $clusterWorkerPassword := "" }}
{{- if $clusterWorkerExisting }}
{{- $clusterWorkerPassword = index $clusterWorkerExisting.data "password" | b64dec }}
{{- else }}
{{- $clusterWorkerPassword = randAlphaNum 32 }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $clusterWorkerSecretName }}
  labels:
    {{- include "fundament.labels" . | nindent 4 }}
    app.kubernetes.io/component: database
type: kubernetes.io/basic-auth
stringData:
  username: fun_cluster_worker
  password: {{ $clusterWorkerPassword | quote }}
  uri: postgresql://fun_cluster_worker:{{ $clusterWorkerPassword }}@{{ include "fundament.db.host" . }}:5432/fundament
{{- end }}
