@if (show) {
  <div class="modal-backdrop" (mouseup)="onBackdropClick($event)">
    <div
      #modalDialog
      class="modal-container w-full"
      [class]="maxWidth"
      role="dialog"
      aria-modal="true"
      [attr.aria-labelledby]="title ? 'modal-title' : null"
      tabindex="-1"
    >
      <div class="modal-header">
        <h2 id="modal-title" class="modal-title">
          <ng-content select="[modal-title]" />
          @if (title) {
            {{ title }}
          }
        </h2>
        <ndd-icon-button
          text="Close"
          icon="dismiss-small"
          size="sm"
          (click)="onClose()"
          class="-my-1 -mr-1"
        ></ndd-icon-button>
      </div>

      <div class="modal-body">
        <ng-content />
      </div>

      <ng-content select="[modal-footer]" />
    </div>
  </div>
}
