<div class="card">
  <!-- Header -->
  <div class="card-header">
    <h1 class="text-2xl font-bold dark:text-white">Cluster plugins</h1>
    <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">
      Configure plugins for cluster 'cluster-1'.
    </p>
  </div>

  <!-- Form -->
  <div class="px-6 py-6">
    @if (errorMessage()) {
      <div class="mb-4 flex items-center rounded-md bg-rose-50 p-4 dark:bg-rose-900/20">
        <ng-icon
          name="tablerCircleXFill"
          size="1.25rem"
          class="mr-3 shrink-0 text-rose-400! dark:text-rose-500!"
        />
        <p class="text-sm font-medium text-rose-800 dark:text-rose-200">{{ errorMessage() }}</p>
      </div>
    }
    <app-shared-plugins-form
      (formSubmit)="onFormSubmit($event)"
      [initialPluginIds]="currentPluginIds()"
    >
      <div class="flex space-x-3">
        <button
          type="button"
          (click)="onCancel()"
          class="btn-secondary"
          [disabled]="isSubmitting()"
        >
          Cancel
        </button>
        <button type="submit" class="btn-primary" [disabled]="isSubmitting()">
          @if (isSubmitting()) {
            Saving...
          } @else {
            Save changes
          }
        </button>
      </div>
    </app-shared-plugins-form>
  </div>
</div>
