<div class="card">
  <!-- Header -->
  <div class="card-header">
    <h1 class="text-2xl font-bold dark:text-white">Dashboard</h1>
  </div>

  <!-- Content -->
  <div class="card-body-lg">
    <!-- Error Message -->
    @if (errorMessage()) {
      <div class="mb-6 flex items-center rounded-md bg-rose-50 p-4 dark:bg-rose-900/20">
        <app-error-icon class="mr-3 h-5 w-5 shrink-0 text-rose-400 dark:text-rose-500" />
        <p class="text-sm font-medium text-rose-800 dark:text-rose-200">{{ errorMessage() }}</p>
      </div>
    }

    <!-- Create Cluster Button -->
    <div class="mb-6">
      <a routerLink="/add-cluster" class="btn-primary inline-flex items-center">
        <app-plus-icon class="mr-1.5 h-4 w-4" />
        Add a Kubernetes cluster
      </a>
    </div>

    <!-- Clusters Grid -->
    <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
      @for (cluster of clusters(); track cluster.id) {
        <div class="card">
          <!-- Card Header -->
          <div class="card-header">
            <div class="flex items-center justify-between">
              <h2 class="text-xl font-bold dark:text-white">{{ cluster.name }}</h2>
              <span class="badge" [class]="getStatusColor(cluster.status)">
                {{ getStatusLabel(cluster.status) }}
              </span>
            </div>
          </div>

          <!-- Card Content -->
          <div class="card-body-lg">
            <dl>
              <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">Region</dt>
              <dd class="mt-0.5 mb-4 text-sm dark:text-white">
                {{ cluster.region.toUpperCase() }}
              </dd>
              <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">
                Number of node pools
              </dt>
              <dd class="mt-0.5 mb-4 text-sm dark:text-white">
                {{ getNodePoolCount(cluster.id) }}
              </dd>
            </dl>

            <!-- Card Actions -->
            <div class="mt-6">
              <a
                routerLink="/clusters/{{ cluster.id }}"
                class="btn-primary inline-flex items-center px-3!"
              >
                <app-eye-icon class="mr-2 h-4 w-4" /> View details
              </a>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
