{{.License}}

Copyright (c) {{.Year}} {{.Author}}

TODO: paste the full text of the {{.License}} licence here. `functl plugin
create` ships the text for MIT, Apache-2.0, GPL-3.0-only and EUPL-1.2; pick one
of those with --license to have it written for you, or copy the text of this one
from https://spdx.org/licenses/.
