<!-- Breadcrumb -->
<app-breadcrumb [segments]="breadcrumbSegments" />

<div class="card">
  <!-- Header -->
  <div class="card-header">
    <h1 class="text-2xl font-bold dark:text-white">Namespace permissions</h1>
    <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">
      Permissions for {{ namespaceName() }} namespace
    </p>
  </div>

  <div class="p-6">
    <button
      type="button"
      (click)="onAddPermission()"
      class="btn-primary mb-5 inline-flex items-center"
    >
      <ng-icon name="tablerPlus" class="mr-1.5" />
      Add a permission
    </button>

    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th width="40%" scope="col">Name</th>
            <th width="20%" scope="col">Namespace</th>
            <th width="25%" scope="col">Role</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (permission of permissions; track permission.name + permission.namespace) {
            <tr>
              <td class="font-medium dark:text-white">
                {{ permission.name }}
              </td>
              <td>
                {{ permission.namespace }}
              </td>
              <td>
                <span
                  class="inline-flex items-center rounded-full bg-blue-100 px-2.5 py-1 text-sm font-medium text-blue-800 dark:bg-blue-950 dark:text-blue-200"
                >
                  {{ permission.role }}
                </span>
              </td>
              <td>
                <button
                  type="button"
                  (click)="onEditPermission(permission, $index)"
                  class="btn-light mr-2 inline-flex shrink-0 items-center"
                >
                  <ng-icon name="tablerPencil" class="mr-1.5" /> Edit
                </button>

                <button type="button" class="btn-remove shrink-0">
                  <ng-icon name="tablerTrash" class="mr-1.5" /> Remove
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Permission Modal -->
<app-permission-modal
  [show]="showModal"
  [isEditMode]="isEditMode"
  [permission]="selectedPermission"
  (closeModal)="closeModal()"
  (save)="onSavePermission($event)"
></app-permission-modal>
