<div class="card">
  <!-- Header -->
  <div class="card-header pb-0!">
    <h1 class="text-2xl font-bold dark:text-white">Project permissions</h1>
    <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">Permissions for project Project #1</p>

    <!-- Tabs -->
    <nav class="tabs">
      <a routerLink="/project-members" routerLinkActive="active"> Members </a>
      <a routerLink="/project-permissions" routerLinkActive="active"> Permissions </a>
    </nav>
  </div>

  <div class="p-6">
    <button
      type="button"
      (click)="onAddPermission()"
      class="btn-light mb-5 inline-flex items-center"
    >
      <app-plus-icon class="mr-1.5 h-4 w-4" />
      Add a permission
    </button>

    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th width="40%" scope="col">Name</th>
            <th width="20%" scope="col">Object</th>
            <th width="25%" scope="col">Role</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (permission of permissions; track permission.name + permission.object) {
            <tr>
              <td class="font-medium dark:text-white">
                {{ permission.name }}
              </td>
              <td>
                {{ permission.object }}
              </td>
              <td>
                <span
                  class="inline-flex items-center rounded-full bg-blue-100 px-2.5 py-1 text-sm font-medium text-blue-800 dark:bg-blue-950 dark:text-blue-200"
                >
                  {{ permission.role }}
                </span>
              </td>
              <td>
                <button
                  type="button"
                  (click)="onEditPermission(permission, $index)"
                  class="btn-light mr-2 inline-flex shrink-0 items-center"
                >
                  <app-edit-icon class="mr-1.5 h-4 w-4" /> Edit
                </button>

                <button type="button" class="btn-remove shrink-0">
                  <app-trash-icon class="mr-1.5 h-4 w-4" /> Remove
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Permission Modal -->
<app-permission-modal
  [show]="showModal"
  [isEditMode]="isEditMode"
  [permission]="selectedPermission"
  (closeModal)="closeModal()"
  (save)="onSavePermission($event)"
></app-permission-modal>
