<nav class="breadcrumb">
  <a routerLink="/">
    @if (organizationLoading()) {
      Loading...
    } @else if (organizationName()) {
      {{ organizationName() }}
    } @else {
      Unknown organization
    }
  </a>
  @for (segment of allSegments; track $index; let isLast = $last) {
    <ndd-icon name="chevron-right-small" class="h-3.5 w-3.5" ></ndd-icon>
    @if (segment.route && !isLast) {
      <a [routerLink]="segment.route">{{ segment.label }}</a>
    } @else {
      <span>{{ segment.label }}</span>
    }
  }
</nav>
