<nav class="breadcrumb">
  <a routerLink="/">
    @if (organizationLoading()) {
      Loading...
    } @else if (organizationName()) {
      {{ organizationName() }}
    } @else if (organizationError()) {
      <span
        class="error-message"
        role="button"
        tabindex="0"
        (click)="loadOrganization()"
        title="Click to retry"
      >
        {{ organizationError() }} - Click to retry
      </span>
    } @else {
      Unknown organization
    }
  </a>
  @for (segment of allSegments; track $index; let isLast = $last) {
    <ng-icon name="tablerChevronRight" size="0.875rem" />
    @if (segment.route && !isLast) {
      <a [routerLink]="segment.route">{{ segment.label }}</a>
    } @else {
      <span>{{ segment.label }}</span>
    }
  }
</nav>
