# Local development environment values

jwtSecret: "local-dev-jwt-secret"

externalUrls:
  authn: http://authn.127.0.0.1.nip.io:8080
  frontend: http://fundament.127.0.0.1.nip.io:8080
  cookieDomain: 127.0.0.1.nip.io

db:
  enabled: true
  instances: 1
  storageSize: 1Gi

authnApi:
  enabled: true
  replicas: 1
  logLevel: debug

organizationApi:
  enabled: true
  replicas: 1

appstoreApi:
  enabled: true
  replicas: 1

frontend:
  enabled: false

dex:
  enabled: true
  issuer: http://dex.127.0.0.1.nip.io:8080
  discoveryUrl: http://fundament-dex:5556
  staticClients:
    - id: fundament
      name: "Fundament Auth API"
      redirectURIs:
        - http://fundament.127.0.0.1.nip.io:8080/callback
        - http://authn.127.0.0.1.nip.io:8080/callback
      public: true
  staticPasswords:
    - email: admin@example.com
      # echo 'password' | htpasswd -BinC 10 admin
      hash: "$2y$10$KdEtpACqX8Jh0AYF2n1sfeySkYkG8hRK6Tmn85/VpvaVVPgxL3Hsi"
      username: admin
      userID: "08a8684b-db88-4b73-90a9-3cd1661f5466"

ingress:
  enabled: true
  className: nginx
  domain: 127.0.0.1.nip.io
