name: Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    strategy:
      matrix:
        include:
          - image-name: authn-api
            dockerfile: authn-api/Dockerfile
            context: "."
          - image-name: organization-api
            dockerfile: organization-api/Dockerfile
            context: "."
          - image-name: db-migrations
            dockerfile: db/Dockerfile
            context: db
          - image-name: console-frontend
            dockerfile: console-frontend/Dockerfile
            context: "."
          - image-name: cluster-worker
            dockerfile: cluster-worker/Dockerfile
            context: "."
          - image-name: authz-worker
            dockerfile: authz-worker/Dockerfile
            context: "."
          - image-name: openfga-setup
            dockerfile: openfga/setup/Dockerfile
            context: openfga/setup
          - image-name: docs-frontend
            dockerfile: docs-frontend/Dockerfile
            context: "."
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      image-name: ${{ matrix.image-name }}
      dockerfile: ${{ matrix.dockerfile }}
      context: ${{ matrix.context }}
