name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  FUNDAMENT_TEST_CACHE_DIR: /tmp/fundament-test-pg

jobs:
  organization-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Cache Trek binary
        id: cache-trek
        uses: actions/cache@v5
        with:
          path: ~/go/bin/trek
          key: trek-${{ runner.os }}-v0.12.1

      - name: Cache embedded PostgreSQL
        uses: actions/cache@v5
        with:
          path: ${{ env.FUNDAMENT_TEST_CACHE_DIR }}
          key: embedded-pg-${{ runner.os }}

      - name: Install dependencies
        run: go get ./...

      - name: Install Trek
        if: steps.cache-trek.outputs.cache-hit != 'true'
        run: go install github.com/printeers/trek@v0.12.1

      - name: Run tests
        working-directory: organization-api
        run: go test ./... -count=1
